*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    width: auto;
    height: auto;
}

:root{
    font-size: 16px;
}

body{
    // font-family: "Merriweather", serif;
    font-size: 1rem;
    // line-height: 1.5;
    //font-weight: 400;
    font-weight: 600;
    color: #333;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    //background-color: #F5F5DC;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
    // font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    // line-height: 1.2;
    color: #333;
}

/*
.winky-sans-<uniquifier> {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }*/

.navbar{
    background-color: #00AEEF;
}


.navbar-brand img{
    height: 3rem;
    filter: drop-shadow(0 0 1rem #333)
}


.carousel{
    //margin: 5rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.carousel-item{
    max-height: 800px;
}

.carousel-item::after{
    content: "";
    background: linear-gradient(0deg, rgba(255,255,255,0.50) 10%, rgba(255,255,255,0) 30%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.carousel-item-dark::after{
    content: "";
    background: linear-gradient(0deg, rgba(0,0,0,0.80) 10%, rgba(0,0,0,0.75) 30%, rgba(0,0,0,0) 50%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption{
    z-index: 1;
}

.hero{
    /*
    background-image: url(../img/Bg-section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background-color: #fbff0040;

}

/* .hero > *{
    color: #333;
} */

.card{
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    border-radius: 25px;
}

.card > img{
    padding: 1rem;
}

.produits{
    // background-color: #f5f5dc;
    // background-color: #23C3FF;
    //background-color: #333;
    background-color: #44CCFF;

}
.produits p, h2{
    color: #333;
    z-index: 2;
}

/*
#products{
    //content: "";
    background-color: #44CCFF;
    //background: rgba(0, 0, 0, 0.45);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    border-radius: 50px;
    border: 10px solid;
} */

.produits *{
    z-index: 1;
}

footer{
    background-color: #333;
    color: #aaa;
}

footer * {
    margin: 0;
}

#arrow {
    display: inline-block;
    opacity : 0;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 8rem;
    margin-right: 3rem;
    height: 75px;
    width: 75px;
    color: #333;
    background-color: $primary;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 15px;
    
    &:hover{
        background-color: #333;
        color: #fff;
    }
}




.show{
    opacity: 1;
    height: 100%;
    width: 100%;
}
.show:hover{
    cursor: pointer;
}

.click{
    background-image: url(../img/desktop-wallpaper-rubber-duck-vector-art-icon-and-graphics-for-cute-yellow-ducks.jpg);
    background-size: contain;
    background-repeat: repeat;
    position: relative;


}

.click::after{
    content: "";
    background: rgba(0, 0, 100, 0.30);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.click > *{
    z-index: 1;
}

